<!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

<div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
 <a itemprop="url" href="https://www.fiverr.com/erdavinder2307" rel="nofollow" target="_blank" style="display: inline-block;">
  <div class='fiverr-seller-content' id='fiverr-seller-widget-content-20e54729-dd43-48f4-b468-d3be0f1e5e6a' itemprop='contentURL' style='display: none;'></div>
  <div id='fiverr-widget-seller-data' style='display: none;'>
            <div itemprop='name' >erdavinder2307</div>
            <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>
            <div itemprop='jobtitle'>Seller</div>
            <div itemprop='description'>▶ Fᴜʟʟ Sᴛᴀᴄᴋ Dᴇᴠᴇʟᴏᴘᴍᴇɴᴛ [★★★★★]
 ▶ ASP.Nᴇᴛ MVC [★★★★★]
 ▶ MS SQL Sᴇʀᴠᴇʀ Aᴅᴍɪɴɪsᴛʀᴀᴛɪᴏɴ [★★★★★]
 ▶ ASP.Nᴇᴛ MVC Wᴇʙ API [★★★★★]
 ▶ IOS ᴀɴᴅ Aɴᴅʀɪᴏᴅ Dᴇᴠᴇʟᴏᴘᴍᴇɴᴛ (Xᴀᴍᴀʀɪᴀɴ & Nᴀᴛɪᴠᴇ) [★★★★⚫]
 ▶ UI Dᴇsɪɢɴ (Mᴀᴛᴇʀɪᴀʟ & Bᴏᴏᴛsᴛʀᴀᴘ) [★★★★★]
 ▶ UI Dᴇᴠᴇʟᴏᴘᴍᴇɴᴛ (Aɴɢᴜʟᴀʀ ᴊs & Rᴇᴀᴄᴛ ᴊs) [★★★★★]
 ▶ Azure Development [★★★★★]
 ▶ Amazon Web Services [★★★★★]
 ▶ Dᴇsᴋᴛᴏᴘ Aᴘᴘʟɪᴄᴀᴛɪᴏɴ ᴅᴇᴠᴇʟᴏᴘᴍᴇɴᴛ [★★★★★]
 ▶ Mᴜʟᴛɪᴘʟᴀᴛғᴏʀᴍ Wᴇʙ ᴀᴘᴘʟɪᴄᴀᴛɪᴏɴ Dᴇᴠᴇʟᴏᴘᴍᴇɴᴛ (ASP.ɴᴇᴛ Cᴏʀᴇ) [★★★★★]
 ▶ Wɪɴᴅᴏᴡs Sᴇʀᴠᴇʀ Aᴅᴍɪɴɪsᴛʀᴀᴛᴏʀ [★★★★★]
 ▶ Nᴇᴛᴡᴏʀᴋ Aᴅᴍɪɴɪsᴛʀᴀᴛɪᴏɴ [★★★★⚫]
 ▶ IIS Aᴘᴘʟɪᴄᴀᴛɪᴏɴ Hᴏsᴛɪɴɢ [★★★★★]
 ▶ Hᴇʀᴏᴋᴜ Aᴘᴘ Hᴏsᴛɪɴɢ [★★★★★]
 </div>
 </div>
</a>
</div>

<script id='fiverr-seller-widget-script-20e54729-dd43-48f4-b468-d3be0f1e5e6a' src='https://widgets.fiverr.com/api/v1/seller/erdavinder2307?widget_id=20e54729-dd43-48f4-b468-d3be0f1e5e6a' data-config='{"category_name":"\n                                    Programming \u0026 Tech\n\n                            "}' async='true' defer='true'></script>
