.solidev-icon {
    padding: 0 14px;
  }
  
  .solidev-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar.mat-toolbar.mat-primary.mat-toolbar-multiple-rows {
    background: white;
    color: black;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

