<footer class="home-footer">
<!--   <section class="home-footer-top background-img">
 -->
<!-- <mat-toolbar color="primary" >

      
  <div  class="container" fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0" 
  fxLayout.sm="column"
  fxLayoutGap.sm="0"

  >
     <mat-card class="example-card">
      <mat-card-header>
        About Us
      </mat-card-header>
      <mat-card-content>
        In the fastest growing market, everyone wants to save time and grow quickly. We are here to provide all type of software solutions for the need of your business and ready to implement real-time solution as per your need.
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div> 
        
      </mat-toolbar> -->
  <!--     <div class="container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
          <div fxFlex="35" class="footer-box">
            <h4 class="footer-box-title"><b>About Us</b></h4>
            <p>In the fastest growing market, everyone wants to save time and grow quickly. We are here to provide all
              type of software solutions for the need of your business and ready to implement real-time solution as 
              per your need.
            </p>
            <button mat-raised-button color="accent" [routerLink]="'/home/index'" scrollTo="intro-section">Contact Us</button>
          </div>
          <div fxFlex="40" class="footer-box">
            <h4 class="footer-box-title"><b>Contact</b></h4>
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon color="accent">email</mat-icon>
                <h5 matLine><b>Email</b></h5>
                <p matLine> support@solidevelectrosoft.com </p>
              </mat-list-item>
              <mat-list-item>
                  <mat-icon mat-list-icon color="accent">location_on</mat-icon>
                  <h5 matLine><b>Address</b></h5>
                  <p matLine>Solidev Electrosoft Private Limited</p>
                  <p matLine>2nd floor, SAS Commercial Complex, Urban Estate </p>
                   <p matLine>Patiala, Punjab, India 147002 </p>
                </mat-list-item>
            </mat-list>
          </div>
          <div fxFlex="25" class="footer-box">
            <h4 class="footer-box-title"><b>Disclaimer</b></h4>
            <p>The information contained in this website is for general information purposes only. The information is provided by Solidev Electrosoft Pvt Ltd and while we endeavour to keep the information up to date and correct.</p>
            <div class="socials pt-1">
              <ul>
                 <li><a target="_blank" href="https://www.facebook.com/solidevelectrosoft/" class="social-icon facebook"></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/davinder-pal-906a53166/" class="social-icon linkedin"></a></li>
                <li><a target="_blank" href="https://twitter.com/solidevltd" class="social-icon twitter"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section> -->
</footer>