<app-header></app-header>
<div  class="container main-div" fxLayout
fxLayout.xs="column"fxLayoutAlign="center"fxLayoutGap="10px"
fxLayoutGap.xs="0" fxLayout.sm="column"fxLayoutGap.sm="0"
>
<mat-card class="example-card mat-card-content-1">
    <mat-card-header>
      <mat-card-title class="mat-title">Learn and Earn</mat-card-title>
      <mat-card-subtitle class="mat-subheading-1">Free Training + Placement</mat-card-subtitle>
    </mat-card-header>
 <img mat-card-image src="../../assets/images/learn.jpg" alt="Web Applicaions">
    <mat-card-content >
      <div class="content-text mat-body-1">
            ⚫ For Engineering Graduates with software knowledge - 3 months (130 hours) training <br>
            ⚫ For Engineering & MCA Graduates - 6 months (260 hours) training <br>

            ⚫ For Other Graduates - 9 months (390 hours) training <br>

            ⚫ For HSC passouts - 12 months (520 hours) training <br>

        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><strong class="text-muted"><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.solidevelectrosoft.com%2F&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></strong></button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card mat-card-content-2">
    <mat-card-header>
<!--       <div mat-card-avatar class="example-header-image"></div>
 -->      <mat-card-title class="mat-title">Programme</mat-card-title>
      <mat-card-subtitle class="mat-subheading-1">Key Features:</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/earn.jpg" alt="Mobile Applicaions">
    <mat-card-content >
      <div class="content-text mat-body-1">
            ⚫ Software Development Life Cycle <br>
            ⚫ Basics of C++<br>
            ⚫ .Net framework<br>
            ⚫ Programming in C#<br>
            ⚫ MS Sql Database<br>
            ⚫ Mobile Development<br>
            ⚫ UI Development<br>
            ⚫ Designing<br>
            ⚫ Full Stack Development<br>
            ⚫ Join as Software Developer after successful completion of training<br>
              </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><strong class="text-muted"><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.solidevelectrosoft.com%2F&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></strong></button>
    </mat-card-actions>
  </mat-card>

</div>

        <app-footer></app-footer>
