<app-header></app-header>
<div  class="container main-div" fxLayout
fxLayout.xs="column"fxLayoutAlign="center"fxLayoutGap="10px"
fxLayoutGap.xs="0" fxLayout.sm="column" fxLayoutGap.sm="0"
>
<mat-card class="example-card mat-card-content-1">
    <mat-card-header>
<!--       <div mat-card-avatar class="example-header-image"></div>
 -->      <mat-card-title class="mat-title">Who we are:</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/vision.jpg" alt="Who We Are">

    <mat-card-content >
      <div class="content-text mat-body-1">
          ⚫ We are a company with a vision for bright future.<br><br>
          ⚫ We want to change and be the change.<br><br>
          ⚫ We are here to empower people with mobile devices.<br><br>
          ⚫ We started this venture to help people with technology.<br><br>
          ⚫ We are converting ideas to reality.<br><br>

      </div>
    </mat-card-content>
<!--     <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
  <mat-card class="example-card mat-card-content-2">
    <mat-card-header>
<!--       <div mat-card-avatar class="example-header-image"></div>
 -->      <mat-card-title class="mat-title">What we believe:</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/growth.jpg" alt="What we believe">
     <mat-card-content >
      <div class="content-text mat-body-1">
          ⚫ Being honest will give you consistency<br><br>
          ⚫ A reliable business will give you exponential growth<br><br>
          ⚫ Software is a service to grow businesses, not just an application.<br><br>
          ⚫ Automation is not the luxury but it's freedom of your mind.<br><br>
          ⚫ Technology can give you everything if used in right manner.<br><br>

      </div>
    </mat-card-content>
<!--     <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
  <mat-card class="example-card mat-card-content-3">
    <mat-card-header>
<!--       <div mat-card-avatar class="example-header-image"></div>
 -->      <mat-card-title class="mat-title">We are here to:</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/client.jpg" alt="We are here to">
     <mat-card-content >
      <div class="content-text mat-body-1">
        ⚫ Make trustworthy relationships with clients.<br><br>
          ⚫ Provide cost-efficient, quality services to clients.<br><br>
          ⚫ Provide software automation for business growth.<br><br>
          ⚫ Provide quality work for our employees.<br><br>
          ⚫ Grow our business financially and improve our network.<br><br>
<!--           ⚫ Invest in providing better services to customers.<br><br>
 -->      </div>
    </mat-card-content>
<!--     <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
       <!--  <mat-card>
                <mat-card-header>
                  
                        <mat-card-title><div class="main">What we believe:</div></mat-card-title>
                        <mat-card-subtitle><div class="main-sub">➨ If you want exponential and consistent growth in business then be honest with your customer.</div></mat-card-subtitle>
                    <mat-card-title><div class="main">We are here to: </div></mat-card-title>
                        <mat-card-subtitle><div class="main-sub">➨ Make trustworthy relationships with clients. </div></mat-card-subtitle>
                        <mat-card-subtitle><div class="main-sub">➨ To provide cost-efficient, quality services to clients. </div></mat-card-subtitle>
                        <mat-card-subtitle><div class="main-sub">➨ To provide software automation for business growth.</div></mat-card-subtitle>
                        <mat-card-subtitle><div class="main-sub">➨ To provide quality work for our agency members.</div></mat-card-subtitle>
                        <mat-card-subtitle><div class="main-sub">➨ To grow your business financially and improve our network.</div></mat-card-subtitle>
                        <mat-card-subtitle><div class="main-sub">➨ To invest in providing better services to customers.</div></mat-card-subtitle>

                 
                    </mat-card-header>
        <mat-card-content>


        
        </mat-card-content>
        </mat-card> -->
        </div>
        <app-footer></app-footer>
