<app-header></app-header>
<div  class="container main-div" fxLayout
fxLayout.xs="column"fxLayoutAlign="center"fxLayoutGap="10px"
fxLayoutGap.xs="0" fxLayout.sm="column"fxLayoutGap.sm="0"
>
<mat-card class="example-card mat-card-content-1">
    <mat-card-header>
<!--       <div mat-card-avatar class="example-header-image"></div>
 -->      <mat-card-title class="mat-title">Web Applications</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
 <img mat-card-image src="../../assets/images/web-app.jpg" alt="Web Applicaions">
    <mat-card-content >
      <div class="content-text mat-body-1">
        In the fatest growing market, every business required to get cloud space to reachout their customers. We are here to provide all type of web applications that meet your business requirement like Microsoft Technologies (Asp.net MVC, Asp.net core, Asp.net Core), Java web development, Angular 5, Reactjs      </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><strong class="text-muted"><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.solidevelectrosoft.com%2F&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></strong></button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card mat-card-content-2">
    <mat-card-header>
<!--       <div mat-card-avatar class="example-header-image"></div>
 -->      <mat-card-title class="mat-title">Mobile Applications</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/mobile-app.jpg" alt="Mobile Applicaions">
    <mat-card-content >
      <div class="content-text mat-body-1">
        Its Era of mobility and everyone want to get services on the go. We provide software applications which meet the requirment of all mobile devices operating systems with various resolutions like IOS for IPhone and IPad, Android for android devices etc.
      </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><strong class="text-muted"><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.solidevelectrosoft.com%2F&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></strong></button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card mat-card-content-3">
    <mat-card-header>
<!--       <div mat-card-avatar class="example-header-image"></div>
 -->      <mat-card-title class="mat-title">Real-time Solutions</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/real-time.jpg" alt="Real-time Solutions">
   <mat-card-content >
      <div class="content-text mat-body-1">
        To meet to customer requirement, we provide real time solutions for thier business needs. We reach customer's level of perception and give them solution for their business need
    </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><strong class="text-muted"><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.solidevelectrosoft.com%2F&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></strong></button>
    </mat-card-actions>
  </mat-card>
</div>
<div  class="container main-div" fxLayout
fxLayout.xs="column"fxLayoutAlign="center"fxLayoutGap="10px"
fxLayoutGap.xs="0" fxLayout.sm="column"fxLayoutGap.sm="0"
>
  <mat-card class="example-card mat-card-content-3">
    <mat-card-header>
<!--       <div mat-card-avatar class="example-header-image"></div>
 -->      <mat-card-title class="mat-title">Game Development</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/game.jpg" alt="Real-time Solutions">
  <mat-card-content >
      <div class="content-text mat-body-1">
        We are also getting into game development Unity 3d for all mobile platforms.
    </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><strong class="text-muted"><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.solidevelectrosoft.com%2F&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></strong></button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card mat-card-content-3">
    <mat-card-header>
<!--       <div mat-card-avatar class="example-header-image"></div>
 -->      <mat-card-title class="mat-title">Software Support</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/support.jpg" alt="Real-time Solutions">
  <mat-card-content >
      <div class="content-text mat-body-1">
        24x7 Support for the maintenance and fixes of customer's software application.
    </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><strong class="text-muted"><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.solidevelectrosoft.com%2F&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></strong></button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card mat-card-content-3">
    <mat-card-header>
<!--       <div mat-card-avatar class="example-header-image"></div>
 -->      <mat-card-title class="mat-title">Planning Application</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/planning.jpg" alt="Real-time Solutions">
  <mat-card-content >
      <div class="content-text mat-body-1">
        From the start of software development life cycle, development, testing, delivery to customer, maintenance and fixes, everything is in timeline
    </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><strong class="text-muted"><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.solidevelectrosoft.com%2F&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></strong></button>
    </mat-card-actions>
  </mat-card>
        </div>
        <app-footer></app-footer>
