<app-header></app-header>
<div class="main-div container main-div" fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0" 
fxLayout.sm="column"

fxLayoutGap.sm="0"
fxLayout.md="column"

fxLayoutGap.md="0"
fxLayout.lg="column"

fxLayoutGap.lg="0"
>
<mat-card>
  <mat-card-header>
  <mat-card-title><div class="main mat-display-1">
     If you want exponential and consistent growth in business then be honest with your customer.
  </div><div class="main-sub-2 mat-subheading-1">
      ~anonymous
   </div></mat-card-title>
  <mat-card-subtitle><div class="main-sub mat-title">helping business to grow faster by creating meaningful web solutions</div></mat-card-subtitle>
  <mat-card-subtitle><div class="main-sub mat-title"><button mat-raised-button routerLink="/about">View More >></button></div></mat-card-subtitle>

</mat-card-header>
<mat-card-content>

</mat-card-content>
</mat-card>

<!--<mat-card class="max-width">
 <app-carousel-pause></app-carousel-pause>
 </mat-card>-->
</div>
<!-- <section id="intro-section" class="home-intro-section text-center">
    <div class="container" fxLayout="column" fxLayoutWrap="nowrap">
      <div class="home-intro-subtitle">Converting thoughts into reality
      
      </div>
      <h1 class="home-intro-title">Solidev Electrosoft Private Limited</h1>
      <div class="home-intro-subtitle">What we believe:</div>
      <p class="home-intro-text"> If you want exponential and consistent growth in business then be honest with your customer.</p>
      
      <div class="home-intro-subtitle">We are here to:</div>
      <p class="home-intro-text"> 
           Make trustworthy relationships with clients.
        </p> 
        <p class="home-intro-text"> 
           To provide cost efficient, quality services to clients. 
        </p> 
        <p class="home-intro-text"> 
           To provide software automation for business growth. 
        </p> 
        <p class="home-intro-text"> 
           To provide quality work to our agency members. 
        </p> 
        <p class="home-intro-text"> 
           To grow your business financially and improve our network.
        </p> 
        <p class="home-intro-text"> 
           To invest in providing better services to customers.
      </p>

      <div class="intro-product">
        
      </div>
  
    </div>
  </section> -->
  
<app-footer></app-footer>
